global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'observability-demo'
    scrape_interval: 5s
    static_configs:
      - targets: ['app:9100']

  - job_name: 'cadvisor'
    scrape_interval: 5s
    static_configs:
      - targets: ['cadvisor:8080']
